<section id="titlebar">
  <!-- Container -->
  <div class="container">

    <div class="eight columns">
      <h3 class="left">Gallery</h3>
    </div>

    <div class="eight columns">
      <nav id="breadcrumbs">
        <ul>
          <li>You are here:</li>
          <li><a href="#">Home</a></li>
          <li>Gallery</li>
        </ul>
      </nav>
    </div>

  </div>
  <!-- Container / End -->
</section>

<!-- Content -->
<div id="content">
  <div class="container">

    <div class="row">
      <div class="span12">
        <h4>Looking our photo gallery page?</h4>
        <p>Ucorpora photo gallery page ut molestie turpis, elementum tempor metus. Vestibulum non nibh porttitor,
          eleifend purus eu, pulvinar orci. Quisque a gravida lorem, eu lobortis magna. Nulla auctor urna quis facilisis
          pretium. Cras facilisis risus sed mauris gravida, id vestibulum erat dictum. Nam in ante massa. Integer
          ultricies libero lorem, egestas dictum augue aliquam. Pellentesque habitant morbi tristique senectus et netus
          et malesuada fames ac turpis.</p>

        <p>Elementum tempor metus donec ut molestie turpis. Vestibulum non nibh porttitor, eleifend purus eu, pulvinar
          orci. Quisque a gravida lorem, eu lobortis magna. Nulla auctor urna quis facilisis pretium. Cras facilisis
          risus sed mauris gravida, id vestibulum erat dictum. Nam in ante massa. Integer ultricies libero lorem.</p>

        <div class="row">
          <div class="span12">
            <!-- portfolio filter -->
            <ul id="portfolio-filter">
              <li class="active"><a href="#" class="filter" data-filter="*">All</a></li>
              <li><a href="#" class="filter" data-filter=".photography">Photography</a></li>
              <li><a href="#" class="filter" data-filter=".architecture">Architecture</a></li>
              <li><a href="#" class="filter" data-filter=".webdesign">Webdesign</a></li>
              <li><a href="#" class="filter" data-filter=".technology">Thechnology</a></li>
              <li><a href="#" class="filter" data-filter=".identity">Identity</a></li>
            </ul>

            <section class="row" id="portfolio-items" style="position: relative; overflow: hidden; height: 951px;">
              <ul class="portfolio">

                <li>
                  <article class="span3 project" data-tags="photography" style="position: absolute; left: 0px; top: 0px; transform: translate3d(0px, 0px, 0px);">
                    <a href="#">
                      <div class="square-1">
                        <div class="img-container">
                          <img src="assets/img/gallery/01.jpg" alt="">
                          <div class="img-bg-icon"></div>
                        </div>
                        <h3>Photo Ucorpora</h3>
                        More description about photo
                      </div>
                    </a>
                  </article>
                </li>

                <li>
                  <article class="span3 project" data-tags="webdesign"style="position: absolute; left: 0px; top: 0px; transform: translate3d(240px, 0px, 1px);">
                    <a href="#">
                      <div class="square-1">
                        <div class="img-container">
                          <img src="assets/img/gallery/02.jpg" alt="">
                          <div class="img-bg-icon"></div>
                        </div>
                        <h3>Photo Ucorpora</h3>
                        More description about photo
                      </div>
                    </a>
                  </article>
                </li>

                <li>
                  <article class="span3 project" data-tags="photography,identity" style="position: absolute; left: 0px; top: 0px; transform: translate3d(480px, 0px, 0px);">
                    <a href="#">
                      <div class="square-1">
                        <div class="img-container">
                          <img src="assets/img/gallery/03.jpg" alt="">
                          <div class="img-bg-icon"></div>
                        </div>
                        <h3>Photo Ucorpora</h3>
                        More description about photo
                      </div>
                    </a>
                  </article>
                </li>

                <li>
                  <article class="span3 project" data-tags="identity,architecture" style="position: absolute; left: 0px; top: 0px; transform: translate3d(720px, 0px, 0px);">
                    <a href="#">
                      <div class="square-1">
                        <div class="img-container">
                          <img src="assets/img/gallery/04.jpg" alt="">
                          <div class="img-bg-icon"></div>
                        </div>
                        <h3>Photo Ucorpora</h3>
                        More description about photo
                      </div>
                    </a>
                  </article>
                </li>

                <li>
                  <article class="span3 project" data-tags="architecture,technology" style="position: absolute; left: 0px; top: 0px; transform: translate3d(0px, 317px, 0px);">
                    <a href="#">
                      <div class="square-1">
                        <div class="img-container">
                          <img src="assets/img/gallery/05.jpg" alt="">
                          <div class="img-bg-icon"></div>
                        </div>
                        <h3>Photo Ucorpora</h3>
                        More description about photo
                      </div>
                    </a>
                  </article>
                </li>

                <li>
                  <article class="span3 project" data-tags="technology,webdesign" style="position: absolute; left: 0px; top: 0px; transform: translate3d(240px, 317px, 0px);">
                    <a href="#">
                      <div class="square-1">
                        <div class="img-container">
                          <img src="assets/img/gallery/06.jpg" alt="">
                          <div class="img-bg-icon"></div>
                        </div>
                        <h3>Photo Ucorpora</h3>
                        More description about photo
                      </div>
                    </a>
                  </article>
                </li>

                <li>
                  <article class="span3 project" data-tags="architecture" style="position: absolute; left: 0px; top: 0px; transform: translate3d(480px, 317px, 0px);">
                    <a href="#">
                      <div class="square-1">
                        <div class="img-container">
                          <img src="assets/img/gallery/07.jpg" alt="">
                          <div class="img-bg-icon"></div>
                        </div>
                        <h3>Photo Ucorpora</h3>
                        More description about photo
                      </div>
                    </a>
                  </article>
                </li>

                <li>
                  <article class="span3 project" data-tags="identity,technology" style="position: absolute; left: 0px; top: 0px; transform: translate3d(720px, 317px, 0px);">
                    <a href="#">
                      <div class="square-1">
                        <div class="img-container">
                          <img src="assets/img/gallery/08.jpg" alt="">
                          <div class="img-bg-icon"></div>
                        </div>
                        <h3>Photo Ucorpora</h3>
                        More description about photo
                      </div>
                    </a>
                  </article>
                </li>

                <li>
                  <article class="span3 project" data-tags="webdesign, architecture" style="position: absolute; left: 0px; top: 0px; transform: translate3d(0px, 634px, 0px);">
                    <a href="#">
                      <div class="square-1">
                        <div class="img-container">
                          <img src="assets/img/gallery/09.jpg" alt="">
                          <div class="img-bg-icon"></div>
                        </div>
                        <h3>Photo Ucorpora</h3>
                        More description about photo
                      </div>
                    </a>
                  </article>
                </li>

                <li>
                  <article class="span3 project" data-tags="technology,webdesign" style="position: absolute; left: 0px; top: 0px; transform: translate3d(240px, 634px, 0px);">
                    <a href="#">
                      <div class="square-1">
                        <div class="img-container">
                          <img src="assets/img/gallery/10.jpg" alt="">
                          <div class="img-bg-icon"></div>
                        </div>
                        <h3>Photo Ucorpora</h3>
                        More description about photo
                      </div>
                    </a>
                  </article>
                </li>

                <li>
                  <article class="span3 project" data-tags="architecture,photography"style="position: absolute; left: 0px; top: 0px; transform: translate3d(480px, 634px, 0px);">
                    <a href="#">
                      <div class="square-1">
                        <div class="img-container">
                          <img src="assets/img/gallery/11.jpg" alt="">
                          <div class="img-bg-icon"></div>
                        </div>
                        <h3>Photo Ucorpora</h3>
                        More description about photo
                      </div>
                    </a>
                  </article>
                </li>

                <li>
                  <article class="span3 project" data-tags="technology,identity,architecture" style="position: absolute; left: 0px; top: 0px; transform: translate3d(720px, 634px, 0px);">
                    <a href="#">
                      <div class="square-1">
                        <div class="img-container">
                          <img src="assets/img/gallery/12.jpg" alt="">
                          <div class="img-bg-icon"></div>
                        </div>
                        <h3>Photo Ucorpora</h3>
                        More description about photo
                      </div>
                    </a>
                  </article>
                </li>

              </ul>
            </section>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


  <footer id="footer">
    <div class="container">
      <div class="row">
        <div class="span5">
        <h3>Contact Form</h3>
        <div>         
          <form class="form-main" name="ajax-form" id="ajax-form" action="#" method="post">
            <div id="ajaxsuccess">E-mail was successfully sent.</div> 
            <div class="error" id="err-name">Please enter name</div>
            <input name="name" id="name" type="text" value="Name" onfocus="if(this.value == 'Name') this.value='';" onblur="if(this.value == '') this.value='Name';">
            
            <div class="error" id="err-email">Please enter e-mail</div>
		        <div class="error" id="err-emailvld">E-mail is not a valid format</div>
            <input  name="email" id="email" type="text" value="E-mail" onfocus="if(this.value == 'E-mail') this.value='';" onblur="if(this.value == '') this.value='E-mail';">

            <div class="error" id="err-message">Please enter message</div>
            <textarea  name="message" id="message" onfocus="if(this.value == 'Message') this.value='';" onblur="if(this.value == '') this.value='Message';">Message</textarea><br>
            <div>
            	<div class="error" id="err-form">There was a problem validating the form please check!</div>
            	<div class="error" id="err-timedout">The connection to the server timed out!</div>
            	<div class="error" id="err-state"></div>
            </div>
            <button id="send" class="btn f-right">Send Message <i class="icon-ok"></i></button>
          </form>
        </div>
        </div>
        <div class="span3 offset3">
          <h3>Address</h3>
          81 Sunnyvale Street<br>
          Los Angeles, CA 90185<br>
          United States<br>
          <br>
          <i class="icon-phone"></i>+01 880 555 999<br>
          <i class="icon-envelope"></i><a href="mailto:support@example.com">support@example.com</a><br>
          <i class="icon-home"></i><a href="#">www.example.com</a>
          
          <div class="row space40"></div>  

          <a href="#" class="social-network sn2 behance"></a>
          <a href="#" class="social-network sn2 facebook"></a>
          <a href="#" class="social-network sn2 pinterest"></a>
          <a href="#" class="social-network sn2 flickr"></a>
          <a href="#" class="social-network sn2 dribbble"></a>
          <a href="#" class="social-network sn2 lastfm"></a>
          <a href="#" class="social-network sn2 forrst"></a>
          <a href="#" class="social-network sn2 xing"></a>      
        </div>
      </div>
      
      <div class="row space50"></div>
      <div class="row">
        <div class="span6">
          <div class="logo-footer">
            Design by <a href="https://www.freshdesignweb.com">freshDesignweb</a>
          </div>                       
        </div>
        <div class="span6 right">
          &copy; 2020. All rights reserved.
        </div>
      </div>

    </div>
  </footer>
  <!-- Footer End -->

  <!-- JavaScripts -->
  <script type="text/javascript" src="js/jquery-1.8.3.min.js"></script> 
  <script type="text/javascript" src="js/bootstrap.min.js"></script>  
  <script type="text/javascript" src="js/functions.js"></script>
  <script type="text/javascript" defer src="js/jquery.flexslider.js"></script>